body {
    margin: 25px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-bottom: 0.5rem;
    margin-top: 0;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    margin-bottom: 0.8rem;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;

    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    padding: 0px;
}

.blurb {
    margin-bottom: 1rem;
}

#image-wrapper{
    margin: 0rem 0rem 0rem 1rem;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.image{
    width: 7rem;
    filter: grayscale(100%);
    transition: filter 0.5s ease-out;
}

.image:hover{
    filter: grayscale(30%);
}

.image-link {
    display: inline-block;
    padding: 2px;
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    background-color: #fff;
    line-height: 0;
    border-radius: 4px;
    transition: background-color 0.5s ease-out;
}

.image-link:hover {
    background-color: #999;
    transition: none; }